*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display:block;
    font-size: 60px;
    font-weight: 700;
    line-height: 91px;
    letter-spacing: -0.03em;
    text-align: center;
    background: linear-gradient(97.1deg, #C41740 4.8%, #EA9C28 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.posts-list {
    max-width: 980px;
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-card {
    height: 248px;
}

.post-card-contents {
    display: flex;
    justify-content: space-between;
}

.post-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 32px;
}

.post-image {
    max-height: 200px;
    border-radius: 10px;
}
.date {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    width: 50px;
    right: -15px;
    height: 50px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 999px;
    text-align: center;
    font-size: 9px;
}


.btn {
    position: absolute;
    top: 200px;
    background: tomato;
    border: 1px solid #EA9C28;
    padding: 3px;
    border-radius: 12px;
}

.single-post-body img {
    max-width: 400px;
    margin: 2% auto 2%;
    border-radius: 12px;
}

.single-post-body {
    display: flex;
    flex-direction: column;
}

.post-content {
    background: #FFFFFF;
    width: 66%;
    margin: auto;
    padding: 2%;
    border-radius: 12px;
}

.post-creator-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 5px;
    padding: 3px;

    position: absolute;
    top: -15px;
    left: 0;
    background: white;
    border-radius: 12px
}

.single-post-creator {
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 10px;
    position: relative;
    padding: 3px;
    border-radius: 12px;
    color: gray;
    margin-bottom: 1%
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2%
}


